@import "../../styles.scss";
@import "../square/square.component.scss";

h1{
    color: black;
}

.playerName{
    color: $successColour;
    font-family: $font;

}

main{
    display:grid;
    grid-template-columns: 15vh 15vh 15vh;
    grid-gap: 0px;
}

