@import "../../styles.scss";
@import "../square/square.component.scss";

.playerName{
    color: $successColour;
    font-family: $font;

}

.newGameButton{
   background-color: $successColour;
   color: $primaryBackgroundColour;
   @include button-padding;
   @include button-style;
   border: 0.5vh solid lighten($successColour, 10%); 

}

main{
    display:grid;
    grid-template-columns: 15vh 15vh 15vh;
    grid-gap: 0px;
}

