@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$font: 'Josefin Sans', sans-serif;

$successColour: #5A9367;
$primaryBackgroundColour: #F9F7F3;
$primaryTextColour: #030027;


body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: $primaryBackgroundColour;
    color: $primaryTextColour;
}

.bodyContent{
    h1{
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left:1vh;
        padding-right:1vh;
    }
}